* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




main {
    margin: 0 auto;
    max-width: 1500px;
    min-width: 1200px;
}

body {
    background: rgb(88, 88, 88);
    margin: 0;
    width: 100vw;
    height: 100vh;
}

span {
    display: block;
}

.header-main {
    background: linear-gradient(50deg, rgb(16, 16, 63), gray);
    color: white;
    width: 100%;
    height: 700px;
    margin: 20px;
}

  #logo {
    display: flex;
    width: 7%;
    height: 50px;
    align-items: center;
    justify-content: end;
    margin: 30px 250px ;
}

#logo h2 {
    font-weight: bold;
}

.main-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.list-item {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0 200px 0 0;
}

.list-items {
    padding: 20px;
    font-weight: 700;
    font-size: 1.3rem;

}

.list-items a {
    text-decoration: none;
    color: white;
}

.title-box {
    display: flex;
    justify-content: space-between;
    margin: 75px;
}

.header-title {
    width: 30%;
    margin: 0 auto;
}

.title h1{
    font-size: 3rem;
}

.title p {
    font-size: 1.4rem;
}

.title-img img {
    border-radius: 20px;
}

.btn {
   background: rgb(74, 74, 206);
   padding: 10px;
   color: white;
   border: none;
   border-radius: 5px;
   font-weight: bold;
   font-size: 1.2rem;

}

.sec2-title {
    background: white;
    color: black;
    height: 550px;
}

.sec2-title h1 {
    text-align: center;
    padding-top: 37px;
}

.sec2-box {
    display: flex;
    justify-content: center;
    margin: 30px;

}

.sec2-box div {
    width: 200px;
    height: 230px;
    border: 4px solid blue;
    border-radius: 10px;
    margin: 20px;
}
